html.hydrated {
  background: #ddd;
}

.bet-cent-btn-bx {
  margin: 20px 0 0 7px;
}
.bet-head2 {
  color: #fff;
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 19px 8px 8px;
  border-radius: 0;
  margin-bottom: 0;
  background: #436ad8;
  margin-top: 5rem;
}

.het-hist-bx-fed {
  background: #ddd;
  margin-top: 0;
  margin-bottom: 10px;
}

.my-bet-tabl.tb_support {
  margin-bottom: 20px !important;
}

.btn {
  border-radius: 3px;
}

.btn-gren {
  background: #00b2ff;
  color: #fff !important;
}

.my-bet-tabl thead {
  background: #54555a;
  color: #fff;
  font-size: 15px;
}

.table-responsive {
  display: block !important;
  width: 100% !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.bck {
  background: #ddd;
}
.my-bet-tabl.table tbody tr td:nth-child(1) {
  width: 100%;
  overflow: hidden;
  white-space: inherit;
}

.fedtable {
  vertical-align: bottom;
    background: #54555a;
    color: #fff;
    font-size: 15px;
}

