body {
  background-color: #ddd;
}

.testimonials {
  margin-top: 105px;
}

.secpd {
  padding-top: 0 !important;
  padding-bottom: 0px;
  background: #ddd;
}
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.sidenav1 {
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
}

.sidenav1 a {
  padding: 6px 8px 6px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid #cfcfcf;
}

.abtp {
  margin-top: 8px;
}

.toggImg {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
.betsl {
  width: 100%;
  display: flex;
  border: beige;
  border-bottom: 1px solid #5b5b5b;
  margin-bottom: 10px;
}
.lnkTb {
  background-color: #fff;
  height: 200px;
  width: 100%;
  text-align: center;
}
.bsp {
  background-color: #c0c0c0;
}
.btslp {
  color: #000;
  font-size: 12px;
  padding: 6px 15px;
  margin-right: 1px;
  text-decoration: none;
}

.stk {
  background: linear-gradient(to right, #436ad8 0, #b264b9 100%) !important;
  color: #fff;
}

.colsp .crvimg img {
  border-radius: 12px;
}
.evol-label img {
  margin-top: 7px;
}
.list-logo {
  float: left;
  width: 20px;
  height: auto;
  margin-right: 6px;
  margin-left: 4px;
  margin-top: 2px;
}
.imgOuter {
  padding-bottom: 20px;
}

.tpgame-sec {
  background-image: url(../images/casin-bg.png);
  background-repeat: no-repeat !important;
  background-color: #000 !important;
  background-size: 230px 35px !important;
  background-position: bottom right !important;
  height: 36px !important;
}

.crdGame {
  background-color: #fff;
  height: 34px;
  padding: 5px;
  color: #3e3e3e;
  margin: 10px 11px 5px 11px;
  margin-bottom: -5px;
}
.list-logo {
  float: left;
  width: 20px;
  height: auto;
  margin-right: 6px;
  margin-left: 4px;
  margin-top: 2px;
}

p.crdNmar {
  color: #fff;
}

.md-rwo {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.colsp .crvimg {
  margin: 0px 0;
}

.indTp .crvimg {
  padding: 0 8px;
}

.crvimgrst .crvimg .member-img {
  cursor: pointer;
  margin: 8px 0;
}

.indTp.colsp .crvimg img {
  border-radius: 12px;
}

.member-img img {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.tps1 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.evol-label.evol-label-1 {
  background-image: url(../images/33.png) !important;
}
.evol-label {
  color: #fff;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 0;
  background-image: url(../images/3.png) !important;
  background-size: 230px 35px !important;
  background-position: bottom right !important;
  height: 36px !important;
  background: no-repeat;
  border-radius: 14px;
}
.evol.cube {
  background-image: url(../images/img-2.png);
  background-repeat: no-repeat;
  background-color: #8953e7;
  background-size: 109px 33px;
  background-position: bottom right;
}
.evol {
  border-radius: 6px;
  margin-bottom: 7%;
  background-image: url(../images/Img-1.png);
  background-repeat: no-repeat;
  background-color: #8953e7;
  background-size: 58px 35px;
  background-position: bottom right;
  margin-top: 7%;
}

.MobileFooter-outer {
  display: none;
}

@media (max-width: 1200px) {
  .MobileFooter-outer {
    display: block;
  }
  .web-mnu {
    display: none !important;
  }
  .container,
  .container-sm {
    max-width: 100%;
  }
}

.MobileFooter_mobileFooter {
  background-color: #000;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 55px;
  left: 0;
  margin-left: 0;
  position: fixed;
  transition: bottom 0.2s ease-in-out, background 0.2s ease-in-out;
  width: 100%;
  z-index: 10;
}

.MobileFooter_footerItem {
  flex: 1;
  max-height: 100%;
  opacity: 0.78;
  position: relative;
}
.MobileFooter_itemContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
}
.MobileFooter_icon {
  height: 26px;
  margin: 6px auto 3px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
}
.MobileFooter_label {
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.md-rwo .col-6 {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 1200px) {
  .md-rwo {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .imgOuter {
    padding-bottom: 10px;
  }
}

@media (max-width: 520px) {
  .evol-label {
    color: #fff;
    font-size: 13px;
    height: 29px;
    line-height: 29px;
    margin-bottom: 0;
  }
  .evol {
    margin-bottom: 3%;
    margin-top: 3%;
  }
  .evol-label img {
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  .evol-label {
    background-image: url(../images/new-home-images/3333.png) !important;
  }
  .evol-label.evol-label-1 {
    background-image: url(../images/new-home-images/333.png) !important;
  }
}

@media (max-width: 440px) {
  .evol-label {
    color: #fff;
    height: 29px;
    line-height: 29px;
    margin-bottom: 0;
    height: 28px !important;
  }
  .evol {
    margin-bottom: 2px;
    margin-top: 8px;
  }
  .list-logo {
    width: 20px;
    margin-right: 2px;
  }
}

@media (max-width: 380px) {
  .evol-label {
    color: #fff;
    font-size: 13px;
    height: 29px;
    line-height: 29px;
    margin-bottom: 0;
  }
  .evol {
    margin-bottom: 5px;
    margin-top: 6px;
  }
}

@media (max-width: 340px) {
  .evol-label {
    font-size: 11px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 290px) {
  .loginbtn {
    font-size: 10px;
  }
  .msgId {
    font-size: 15px;
  }
  .profile-list li a span {
    font-size: 10px;
  }
  .tpNv {
    font-size: 10px;
  }
  .logo a img {
    width: 110px;
  }
  .get-started-btn {
    font-size: 8px;
  }
  .social-media li {
    display: inline-block;
    width: 125px;
  }
  .social-media li a span {
    font-size: 13px;
  }
  .logou-bx .btn.btn-red {
    padding: 5px;
  }
  .evol-label {
    line-height: 16px;
    height: 19px !important;
  }
  .evol-label img {
    margin-top: 1px;
  }
  .list-logo {
    width: 15px;
  }
}
