form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 50px auto; */
  max-width: 400px;
}

.modal-header {
  font-weight: 600;
}

.modal-body {
  padding: 0;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.input-search {
  padding: 10px 60px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.login {
  background: #fff;
}

.loginbtn {
  background: linear-gradient(to right, #436ad8 0, #b264b9 100%);
  border-radius: 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer !important;
}

.id-join {
  width: 100%;
  text-align: center;
}
.msgId {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
  background-color: #0e0e0e;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
}
a.eye {
  float: right;
  position: relative;
  top: -35px;
  right: 10px;
}

a.msgId {
  color: #fff;
}

@media only screen and (max-width: 290px) {
  .loginbtn {
    font-size: 10px;
  }
  .msgId {
    font-size: 15px;
  }
  .profile-list li a span {
    font-size: 10px;
  }
  .tpNv {
    font-size: 10px;
  }
  .logo a img {
    width: 110px;
  }
  .get-started-btn {
    font-size: 8px;
  }
  .social-media li {
    display: inline-block;
    width: 125px;
  }
  .social-media li a span {
    font-size: 13px;
  }
  .logou-bx .btn.btn-red {
    padding: 5px;
  }
  .evol-label {
    line-height: 16px;
    height: 20px !important;
  }
  .evol-label img {
    margin-top: 1px;
  }
  .list-logo {
    width: 15px;
  }
}

@media (max-width: 1200px) {
  a.eye {
    float: right;
    position: relative;
    top: -35px;
    right: 10px;
  }
  .row-mr .col {
    padding: 0 4px !important;
  }
}


@media (min-width: 1200px) {
  .row-mr .col {
    padding: 0 70px !important;
  }
  .login {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  form {
    /* margin: 20px auto; */
    padding: 0 20px;
  }

  label {
    max-width: 100%;
  }

  .input-search {
    width: 100%;
  }
}

@media only screen and (min-width: 540px) {
  .modal-content {
    width: 70%;
    margin: 0 80px;
  }
  .white-form-dv {
    padding-bottom: 70px !important;
  }
}

.inpsearch {
  padding: 6px 0px;
  margin-top: 1px;
  margin-right: 7px;
}
.captchanew {
  display: flex;
  padding-bottom: 10px;
  margin-top: -1rem;
}
